body {
  background: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f92, #75517d, #1b2947);
  background: radial-gradient(220% 105% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%, #7d3cd1);
  background-attachment: fixed;
  overflow: hidden;
}


#container {
  border-radius: 30px;
  margin: auto;
  width: 50%;
  height: auto;
  border: 5px solid rgb(255,250,244);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 5%;
  margin-top: 9%;
  text-align: center;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.25);
}


label {
  width: 7em;  
  display: inline-block;
  padding-right:3%;
  font-size: 18px;
  color: rgb(255, 251, 196);
}

.inp {
  margin: 3%;
  
}

input {
  width: 40%;
  height: 35px;
  padding: 1%;
  border:none;
  border-radius: 10px;
  background-color:#CCFFCC;;
  color: #993366;
  font-family: Raleway, sans-serif;
  font-size: 18px;
}

input[type="text"]:focus {
  background-color:#FFFFCC;
}

input[type="submit"] {
  width: 15%;
  height:45px;
  margin: 2%;
  padding:10px;
  float: right;
  background-color: transparent;
  border: 2px #ffe9bc solid;
  color: #FFFF99;
  font-weight: bold;
}
  
input[type="submit"]:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px #03e9f4, 0 0 15px #03e9f4, 0 0 27px #03e9f4, 0 0 39px #03e9f4;
  background-position: 15px center;
  font-weight: 300;
}
  

p {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  color: black;
  text-align: left;
  line-height: 1.5em;
  margin:30px;
  padding-top: 3px;
  padding-left: 4px;
  padding-bottom: 12px;
}



.hidden {
  visibility: hidden;
  opacity: 0;
}

.showing {
  visibility: showing;
  opacity: 1;
}

#overlay {
  position: absolute;
  background: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f92, #75517d, #1b2947);
  background: radial-gradient(220% 105% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%, #7d3cd1);
  background-size: cover;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition-property: opacity, visibility;
  transition-duration: 1s;
  transition-timing-function: ease;
}

#madlib {
  border: 5px solid rgb(255,250,244);
  box-shadow: 0 0 8px 0 rgba(0,0,0,.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  background: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f92, #75517d, #1b2947);
  background: radial-gradient(220% 105% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%, #7d3cd1);
  width: 800px;
  height: 500px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

#madlibcontent {
  padding-top: 40px;
  display: block;
  width: 700px;
  height: 450px;
  font-family: Raleway, sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 42px;
  color: #f5ffbe;
}


#retry {
  width: 15%;
  height:45px;
  margin: 2%;
  padding:10px;
  float: right;
  background-color: transparent;
  border: 2px #ffe9bc solid;
  color: #FFFF99;
  font-weight: bold;
  border-radius: 10px;
}

#retry :hover{
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px #03e9f4, 0 0 15px #03e9f4, 0 0 27px #03e9f4, 0 0 39px #03e9f4;
  background-position: 15px center;
  font-weight: 300;
}




.star{ 
  position: absolute; 
  width: 0; 
  height: 0; 
  border: 1.2px solid transparent; 
  border-bottom: 1px solid #fff;
  animation: light 3s linear infinite;
} 

.star::before{ 
   content: ""; 
   position: absolute; 
   top: 1px; 
   left: -2px; 
   border: 1px solid transparent; 
   border-top: 4px solid #fff; 
}
 
@keyframes light{
  20%{ 
    opacity: 0.2;
  } 
  40%{ 
    opacity: 0.5; 
  }
  60%{ 
    opacity: 1; 
  } 
  80%{ 
    opacity: 0.5; 
  } 
  100%{ 
    opacity: 0.2;
  }
}

footer {
  position:fixed;
  bottom:0;
  padding:20px;
  right:0;
}
  
a{
  color:#FFFFFF;
  text-decoration: none;
  font-size: 11px;
  padding-right:20px;
}