body {
	font-family: Arial;
	color: #333;
	padding-top: 230px;
	background:#99CCCC;
}

#mid{
	margin-top: -5%;
	margin-left: -20%;
	width: 150%;
}


.one { 
	width: 100%;
    background-image: url("images/backf.JPG");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
	transition: all 3s; 
} 
.two { 
	width: 100%;
    background-image: url("images/image4.JPG");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	transition: all 3s; 
} 
.three { 
	width: 100%;
    background-image: url("images/image5.JPG");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	transition: all 3s; 
} 
.four { 
	width: 100%;
    background-image: url("images/image6.JPG");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	transition: all 3s; 
} 
.five { 	
	width: 100%;
    background-image: url("images/image7.JPG");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	transition: all 3s;
} 

header {
	background:#0099CC;
	width: 110px;
	position: fixed;
	top: 80%;
	left: 90%;
	height: 110px;
	border-radius: 50%;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

header h2 {
	color: rgb(255, 255, 255);
	font-size: 20px ;
	text-align: center;
	margin-top: 18%;
}


p {
	line-height: 30px;
	word-spacing: 1px;
}

img {
	display: block;
	max-width: 100%;
	
}

#toppp{
	max-width: 60%;
	border-radius: 50%;

}

#first{
	width: 70%;
	margin: 0 auto 160px auto;
	padding: 30px;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	border-radius: 12px;
	background: #FF9966;
	font-size: 18px ;

}
#second{
	width: 70%;
	margin: 0 auto 160px auto;
	padding: 30px;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	border-radius: 12px;
	background: #FF9966;
	font-size: 18px ;

}
#third{
	width: 70%;
	margin: 0 auto 160px auto;
	padding: 30px;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	border-radius: 12px;
	background: #FF9966;
	font-size: 18px ;

}
#fourth {
	margin: 0 auto 160px auto;
	padding: 30px;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	border-radius: 12px;
	background: #FF9966;
	font-size: 18px ;
	width: 30%;
}
#sixth{
	width: 70%;
	margin: 0 auto 160px auto;
	padding: 30px;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	border-radius: 12px;
	background: #FF9966;
	font-size: 18px ;

}
#seventh{
	width: 70%;
	margin: 0 auto 160px auto;
	padding: 30px;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	border-radius: 12px;
	background: #FF9966;
	font-size: 18px ;

}
#eighth{

	margin: 0 auto 160px auto;
	padding: 30px;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	border-radius: 12px;
	background: #FF9966;
	font-size: 18px ;
	width: 30%;
} 
#ninth{
	width: 70%;
	margin: 0 auto 160px auto;
	padding: 30px;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	border-radius: 12px;
	background: #FF9966;
	font-size: 18px ;

}







.container1 {
	text-decoration: none;
	font: 1.3em sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
	margin: -200px auto 100px auto;
	width: 45%;
	padding: 2%;
	text-align: center;
	list-style:none;
	
	
}
.container1 li a {
	color: rgb(241, 158, 158);

}






@media only screen and (min-width: 700px) {
	
	#first article {
		display: flex;
		align-items: flex-start;
		padding: 20px;
	}


	#second article {
		display: flex;
		align-items: flex-start;
		padding: 20px;
	}

	#third article {
		display: flex;
		align-items: flex-start;
		padding: 20px;
	}

	#fourth article {
		display: flex;
		align-items: flex-start;
		padding: 20px;
	}
	#fourth {
		width: 30%;
	}

	#sixth article {
		display: flex;
		align-items: flex-start;
		padding: 20px;
	}

	#seventh article {
		display: flex;
		align-items: flex-start;
		padding: 20px;
	}

	#eighth article {
		display: flex;
		align-items: flex-start;
		padding: 20px;
	}
	#eighth{
		width: 30%;
	} 
	#ninth article {
		display: flex;
		align-items: flex-start;
		padding: 20px;
	}

}



footer {
    display: flex;
    padding: 40px 0px 40px 29%;
    background: rgb(162,126,126);
    color: #022B3A;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    text-align: center;
	list-style-type: none;
	text-decoration: none;
}

footer p, a {
	text-decoration: none;
    padding: 0px 25px 0px 25px;
}





